<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Listener_Testng.Test_Listener"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Listener_Testng.Depend_Runnerclass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
